footer{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #BDBDBD;
}
p{
    margin: 0;
}
div.col{
    padding-top: 30px;
    padding-bottom: 20px;
    align-content: center;
}
.negrita{
    font-weight: bold;
}
div#copy{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-color: black;
}